<ion-header>
  <ion-toolbar>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><br>
  <div>
    <ion-item>
    <input type='tel' id='phone' name='phone' placeholder='Your Email'><br>
    </ion-item>
    <ion-item>
    <textarea rows="responsive" cols="50" placeholder="The Problem Statement...."></textarea><br>
    </ion-item>
   <ion-item>
    <textarea rows="responsive" cols="50" placeholder="Abstract of idea...."></textarea>
   </ion-item>
  </div>
  <form action="/action_page.php">
    <input type="submit" value="Submit">
  </form>
</ion-content>
