<!-- <p>
  slides works!
</p> -->
<div class="slides-sec">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>

    <!-- <img src="assets/images/welcome.png" /> -->
    <h2>Ideasethu</h2><br>
    <p><b>The bridge between Innovators and Investors</b>
    </p>

    </ion-slide>
    <ion-slide>
    <h2>ABOUT</h2>
    <p>This application is all about connecting innovators and Investors
      people due to pandemic have faced many issues and lost their jobs
      but they might have innovative ideas, where they struggle to connect to the 
      investors.
      This app promise you that your idea will be reached out to investors 
      and through this both will be benefited healthy and financially.
    </p>
    </ion-slide>
  </ion-slides>

    <!-- <ion-button expand="block" share="round" color="sujji" (click)="navigateToLoginPage()">Start</ion-button> -->
</div>